<nav class= "navbar-wrapper">
  <div class = "navbar-container">
    <div class = navbar-links>
      <div class= "logo">Logo</div>
      <div class= "Investir">Investir</div>
      <div class= "Offre">Notre Offre</div>
      <div class= "btn-loggin">Se connecter</div>
      <div class= "btn-signup">S'inscrire</div>
    </div>
  </div>
</nav>
